* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 5vh auto;
}

.navigation {
    text-align: right;
    margin-bottom: 15px;
}

.users-container {
    margin-bottom: 5vh;
}

.user {
    line-height: 2;
    padding: 5px;
}

.user:hover {
    background: #efefef;
}

.user-first-name {
    color: black;
    font-size: 1.2em;
}

.user-last-name {
    color: gray;
    font-size: 1.2em;
}

.user-created-at {
    margin-top: -5px;
    color: gray;
    font-size: 0.7em;
}

.user-edit-panel {
    float: right;
}

.user-lock-action {
    display: inline;
}

.user-activate-action {
    display: none;
}

.user-locked .user-lock-action {
    display: none;
}

.user-locked .user-activate-action {
    display: inline;
}

.user-locked .user-first-name,
.user-locked .user-last-name {
    text-decoration: line-through;
}

/*
    Edit Page
*/

.edit-container {
    text-align: center;
}

.label {
    display: block;
    margin-bottom: 20px;
}
